html, body{
    margin: 0;
}

#banner {
    background-color: #003100ff;
    height: 70px;
    width: 100%;
    margin: 0;
}

#carspec {
    width: 200px;
    margin-top: 0px;
    margin-left: 10px;
}

.nav-link {
    
}

.search-parts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* space between rows */
  z-index: 10;
  color: white;
  text-align: center;
  width: 60%;
  background-color: #0000007e;
  border-radius: 10px;
}

.bg-body-tertiary {
    background-color: #c8c8c8ff !important;
}

#overlap input.form-control:hover {
  background-color: #c8c8c8ff;
}

#overlap input.form-control {
  background-color: white; /* white background */
  color: #333333;            /* text color */
}

#overlap input.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #cccccc; /* Optional: keep border a neutral color */
}

.input-group{
  padding: 0 3% 3% 3%;
}

#overlaptext{
    font-size: 40px;
    font-weight: 750;
    color: #980000;
    text-shadow: 1px 1px 1px #390000;
    padding-top: 3% 3% 3% 0%;
}

#semi-transparent-box {
  background-color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */
  padding: 20px;
  color: white;
}

#overlapdiv{
  z-index: 10; /* Ensure it appears above the image */
}