html, body{
    margin: 0;
}

#banner {
    background-color: #003100ff;
    height: 70px;
    width: 100%;
    margin: 0;
}

#carspec {
    width: 200px;
    margin-top: 0px;
    margin-left: 10px;
}

.nav-link {
    
}

.bg-body-tertiary {
    background-color: #c8c8c8ff !important;
}